
#framewrapper {
    position: relative;
    background-color: white;
    width: 90%;
    padding-bottom: 35%;
    height: 0;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 16px;
}

#wikiframe {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}


@media (max-width: 1000px) {
    #framewrapper {
        padding-bottom: 56.25%;
    }
}

#view_message_div{
  height:200px;
  overflow-y:auto;
}

#chatbox{
  position:sticky;
  bottom: 0;
  width: 100%;
}

#chat_form{
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#hide_div{
  width: 100%;
}

#input_div {
  display: flex;
  justify-center: center;
}

#message_area {
  flex-grow: 1;
  font-size: 23pt;
}

.current_message_div {
  display: flex;
}

.time_stamp {
  order: 1;
  color: lightgrey;
  padding-right: 3px;
}

.player_name {
  order: 2;
  font-weight: bolder;
  color: skyblue;
  padding-right: 3px;
}

.message {
  order: 3;
  white-space: normal;
  word-break: break-word;
  text-align: left;
}